/* Base styles remain unchanged */
.navbar {
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 120px;
    width: 120px;
}

.navbar-bw {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 1.8rem;
}

.navbar-bw li:hover {
    text-decoration: overline;
}

.navbar-bw li {
    cursor: pointer;
}

.navbar .active {
    border-bottom: 2px solid #49557e;
}

.navbar-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar-left h1 {
  font-size: 3.5rem;
  margin-left: 12px; 
  white-space: nowrap;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar button {
    background: transparent;
    font-size: 1.6rem;
    border: 1px solid var(--theme-color);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: rgb(232, 225, 225);
}

.navbarbasketicon {
    position: relative;
}

.navbarbasketicon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--theme-color);
    border-radius: 50%;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position:relative;
}
.nav-profile-dropdown{
    position:absolute;
    right:0;
    display:none;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap:1vw;
    background-color: #fff2ef;
    padding:1.5vw 2vw;
    border-radius: 4px;
    border:1px solid rgb(2, 2, 59);
    outline:2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    gap:1vw;
    align-items: center;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width:5vw;
}
.nav-profile-dropdown li:hover{
    color: #49557e;
}