.login-popup{
    position:fixed;
    z-index:1;
    background-color: #00000099;
    width:100%;
    height:100%;
    display: grid;
}
.login-popup-container{
    place-self: center;
    max-width:40vw;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(250, 1, 1, 0.1);
    border-radius: 7px;
}
.loginpopuptitle{
    display: flex;
    width: 100%;
    justify-content:space-between;
    font-size:2rem;
    padding:2vw;
    padding-bottom: 1.5vw;
    align-items: center;
}
.loginpopuptitle img{
    width:2.5vw;
    height: 2.5vw;
    cursor: pointer;
}
.loginpopuptitle h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px rgba(47, 43, 152, 0.5);
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    margin:2vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
}
.login-popup-inputs input{
    margin:0.7vw;
    padding:1.1vw;
    border-radius: 8px;
    outline: none;
    border:1.5px solid rgb(33, 33, 33);

}
.login-popup-inputs input::placeholder{
    padding-left: 1vw;
    color: rgb(89, 88, 88);
}
.btn{
    margin-top: 1.5vw;
    padding-block: 1.2vw;
    padding-inline: 1vw;;
    width:40%;
    align-self: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(33, 33, 33);
    background-color:rgb(41, 51, 107);
    color: white;
}
.btn:hover{
    background-color: rgb(86, 82, 82);
    color: white;
    cursor: pointer;
}
.login-popup-condn{
    margin-top:1.7vw;
    display: flex;
    gap:0.9vw;
}
.login-popup-condn p{
    margin-block: 1.2vw;
    margin-bottom:2.8vw;
}
.login-popup-inputs p span{
    color:rgb(9, 24, 109);
    cursor:pointer;
}
.login-popup-condn span{
    color:rgb(56, 70, 148);
    cursor: pointer;
}
.click p span{
    text-decoration: underline;
}